* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    padding-top: 50px;
    padding-bottom: 50px;
}

h1 {
    text-align: center;
}

menu {
    font-size: 1.5rem;
}

.menu-group {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;

}

/* assign layout to grid */
.grid-even-columns {
    display: grid;
    gap: 1rem;
    grid-template-columns: 80% 1fr;
}

.anime-collection {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
}

/* search bar and button */
form {
    display: flex;
    /* justify-content: flex-end; */
}


#anime-collection {
    margin: 2rem;
}

.card {
    background-color: #c7b3df;
    text-align: center;
    width: 15rem;
    height: 30rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 2px 2px 4px 4px #b17af0;
    border-radius: 5px;

}

.darkCard {
    background-color: #212e82;
    text-align: center;
    width: 15rem;
    height: 30rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 2px 2px 4px 4px #3d45aa;
}

.anime-image {
    justify-self: center;
    height: 18rem;
    width: auto;
}

/* light and dark mode button */
.myLightButton {
    color: rgb(0, 0, 0);
    font-size: 15px;
    line-height: 15px;
    padding: 4px;
    border-radius: 7px;
    font-family: Georgia, serif;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    background-image: linear-gradient(rgb(164, 164, 164) 0%, rgb(255, 255, 255) 50%, rgb(164, 164, 164) 100%);
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
    border: 2px solid rgb(28, 110, 164);
    display: block;
    float: right;
}

.myLightButton:hover {
    background: #A4A4A4;
}

.myLightButton:active {
    background: #A4A4A4;
}

.myDarkButton {
    color: rgb(255, 255, 255);
    font-size: 15px;
    line-height: 15px;
    padding: 4px;
    border-radius: 7px;
    font-family: Georgia, serif;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    background-image: linear-gradient(rgb(79, 79, 79) 0%, rgb(33, 33, 33) 50%, rgb(79, 79, 79) 100%);
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
    border: 2px solid rgb(28, 110, 164);
    display: block;
    float: right;
}

.myDarkButton:hover {
    background: #4F4F4F;
}

.myDarkButton:active {
    background: #4F4F4F;
}

.light-mode {
    background-image: url(https://img.freepik.com/free-vector/watercolor-sugar-cotton-clouds-background_23-2149231326.jpg?w=2000);

    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;

}


.dark-mode {
    background-image: url(https://wallpaperaccess.com/full/1598947.jpg);
    background-size: cover;

    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: #DBDBDB;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;

}

/* style for hiding ul in cards */
.ulStyle {
    visibility: hidden;
}

.dropDown {
    visibility: visible;

}

.user-list {
    background-image: url(https://wallpaperaccess.com/full/1559254.png);
    background-size: cover;
    padding: 1rem;
    border-radius: 10px;
    color: #FFFFFF;
}

.title {
    background-image: url(https://pbs.twimg.com/media/EwoCuy5UcAAARLZ.jpg);
    background-size: cover;
    font-size: 2rem;
    text-shadow: 2px 2px 0 #20c614, 2px -2px 0 #20c614, -2px 2px 0 #20c614, -2px -2px 0 #20c614, 2px 0px 0 #20c614, 0px 2px 0 #20c614, -2px 0px 0 #20c614, 0px -2px 0 #20c614;
    border: 10px solid rgb(35, 93, 180);
    border-radius: 5px;
}

.title>h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(127, 237, 100);
}

.darkTitle {
    color: #FFFFFF;
    background-image: url(https://i.pinimg.com/originals/7c/91/b2/7c91b2ffbbbd9fbbf71cb730c7973938.jpg);
    background-size: cover;
    font-size: 2rem;
    text-shadow: 2px 2px 0 #20c614, 2px -2px 0 #20c614, -2px 2px 0 #20c614, -2px -2px 0 #20c614, 2px 0px 0 #20c614, 0px 2px 0 #20c614, -2px 0px 0 #20c614, 0px -2px 0 #20c614;
}

.darkTitle>h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: tomato;
}

.like-button {
    font-size: 1.2rem;
    color: #ffffff;
    margin: auto;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    border: 0.125em;
    padding: 0.25em 1em;
    border-radius: 0.25em;
}