* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

header {
    padding-top: 50px;
    padding-bottom: 50px;
}

h1 {
    text-align: center;
}

/* search bar and button */
form {
    display: flex;
}


#anime-collection {
    margin: 2rem;
}

.card {
    text-align: center;
    width: 15rem;
    height: 30rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 2px 2px 4px 4px #b17af0;
}

.darkCard {
    text-align: center;
    width: 15rem;
    height: 30rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 2px 2px 4px 4px #0f177a;
}

.anime-image {
    justify-self: center;
    height: 18rem;
    width: auto;
}


/* light and dark mode button */
.myLightButton {
    color: rgb(0, 0, 0);
    font-size: 15px;
    line-height: 15px;
    padding: 4px;
    border-radius: 7px;
    font-family: Georgia, serif;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    background-image: linear-gradient(rgb(164, 164, 164) 0%, rgb(255, 255, 255) 50%, rgb(164, 164, 164) 100%);
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
    border: 2px solid rgb(28, 110, 164);
    display: inline-block;
}

.myLightButton:hover {
    background: #A4A4A4;
}

.myLightButton:active {
    background: #A4A4A4;
}

.light-mode {
    background: #ffffff;

    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: #000000;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;

}

.myDarkButton {
    color: rgb(255, 255, 255);
    font-size: 15px;
    line-height: 15px;
    padding: 4px;
    border-radius: 7px;
    font-family: "Times New Roman", Times, serif;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    background-image: linear-gradient(rgb(79, 79, 79) 0%, rgb(33, 33, 33) 50%, rgb(79, 79, 79) 100%);
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
    border: 2px solid rgb(28, 110, 164);
    display: inline-block;
}

.myDarkButton:hover {
    background: #4F4F4F;
}

.myDarkButton:active {
    background: #4F4F4F;
}

.dark-mode {
    background: #4F4F4F;
    background: -moz-linear-gradient(top, #4F4F4F 0%, #212121 50%, #4F4F4F 100%);
    background: -webkit-linear-gradient(top, #4F4F4F 0%, #212121 50%, #4F4F4F 100%);
    background: linear-gradient(to bottom, #4F4F4F 0%, #212121 50%, #4F4F4F 100%);

    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: #DBDBDB;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;

}

.ulStyle {
    visibility: hidden;
}

.dropDown {
    visibility: visible;
    -moz-transform: translate(0px, 50px);
    -webkit-transform: translate(0px, 50px);
    -o-transform: translate(0px, 50px);
    -ms-transform: translate(0px, 50px);
    transform: translate(0px, 50px);
}